# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3

# Virtual Environment
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Migrations (if using alembic or Django)
migrations/
